<% include header %>
<header>
    <h1>Ntalk</h1>
    <h4>aconteceu algo terrivel! :(</h4>
</header>
<p>
    veja os detalhes do erro:
    <br>
    <%- error.message %>
</p>
<hr>
<p> que tal voltar <a href="/">home page?</a> :)</p>
<% include footer %>